body {
  background-color: #312f46;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  display: flex;
  min-width: 360px;
  max-width: 600px;
  height: 80vh;
  margin: 32px auto;
  flex-direction: column;
  background-color: #4e4b6e;
  gap: 16px;
  border-radius: 16px;
  padding: 16px;
  border: 4px solid #d4cfe6;
  box-sizing: border-box;
  justify-content: stretch;
}

.display-area {
  display: flex;
  flex-direction: column;
  background-color: #eae6ff;
  border: 2px solid #282828;
  align-items: stretch;
  box-sizing: border-box;
  flex: 1;
  word-wrap: break-word;
  word-break: break-all;
  text-align: right;
}

.display-down, .display-up{
  padding: 0 8px;
}

.display-up {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 2;
  font-size: 36px;
  background-color: #e0dcf5;
}

.display-down {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 3;
  font-size: 48px;
}

.grid-numbers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  flex: 3;
}

.btn {
  background-color: #aca9bb;
  font-size: 32px;
  border-radius: 8px;
  border: 2px solid #282828;
}

.btn:active {
  transform: translateX(2px) translateY(4px);
}

.btn[button-type="clear"] {
  background-color: #ff5500;
  /* grid-column-start: 1;
    grid-column-end: -1; */
}
.btn[button-type="backspace"] {
  background-color: #ff8000;
  /* grid-column: 3 / 5; */
  display: flex;
  justify-content: center;
  align-items: center;
}

img{
  height: 1em;
}

.credits{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.credits img{
  height: 1.5em;
}

.btn[button-type="operator"],
.btn[button-type="exponent"],
.btn[button-type="negative-toggle"]{
  background-color: #ff9bb4;
}


.btn[button-type="equalTo"]{
  background-color: #ffaa7f;
}